language = "docker"
run = "python scraper/tools/playwright_fb_scraper.py"
modules = ["python-3.11"]
# modules = ["python-3.11"]  <-- Not needed when using Docker
# [nix]
# channel = "stable-24_05"
# [deployment]
# run = ["sh", "-c", "python scraper/tools/playwright_fb_scraper.py"]
